# Mecanismos de datos faltantes

### **_Importación de librerías_**

In [68]:
import janitor
import pandas as pd
import pandas_missing_extension_
import numpy as np

_Lectura de csv_

In [69]:
df = pd.read_csv('datos.csv')

_Estandarización de datos faltantes_

In [70]:
df.replace('desconocido', np.nan)
df.replace('-999', np.nan)
df.replace('na', np.nan)

,id_estudiante,tipo_escuela,asignatura,horas_estudio_semanales,calificacion_final,satisfaccion_curso
0,1,Pública,Matemáticas,NaN,NaN,5.0
1,1,Pública,Ciencias,8,75.0,4.0
2,2,Privada,Matemáticas,10,92.0,NaN
3,2,Privada,Ciencias,7,88.0,4.0
4,3,Pública,Matemáticas,5,65.0,3.0
5,3,Pública,Ciencias,NaN,72.0,3.0
6,4,Privada,Matemáticas,12,95.0,5.0
7,4,Privada,Ciencias,NaN,89.0,5.0
8,5,Privada,Matemáticas,15,98.0,5.0
9,6,Pública,Matemáticas,-999,55.0,2.0
10,6,Pública,Ciencias,4,NaN,2.0
11,7,Pública,Matemáticas,6,NaN,3.0
12,7,Pública,Ciencias,5,70.0,4.0
13,8,Privada,Ciencias,9,91.0,4.0
14,9,Pública,Matemáticas,3,58.0,2.0
15,9,Pública,Ciencias,desconocido,62.0,3.0
16,10,Privada,Matemáticas,11,90.0,5.0
17,10,Privada,Ciencias,8,85.0,NaN