# Mecanismos de datos faltantes

### **_Importación de librerías_**

In [1]:
import janitor
import pandas as pd
import pandas_missing_extension_
import numpy as np

_Lectura de csv_

In [2]:
df = pd.read_csv('datos.csv')

_Estandarización de datos faltantes_

In [8]:
df.replace(['desconocido','-999','na'], np.nan, inplace=True)

In [10]:
print(df)

    id_estudiante tipo_escuela   asignatura horas_estudio_semanales  \
0               1      Pública  Matemáticas                     NaN
1               1      Pública     Ciencias                       8
2               2      Privada  Matemáticas                      10
3               2      Privada     Ciencias                       7
4               3      Pública  Matemáticas                       5
5               3      Pública     Ciencias                     NaN
6               4      Privada  Matemáticas                      12
7               4      Privada     Ciencias                     NaN
8               5      Privada  Matemáticas                      15
9               6      Pública  Matemáticas                     NaN
10              6      Pública     Ciencias                       4
11              7      Pública  Matemáticas                       6
12              7      Pública     Ciencias                       5
13              8      Privada     Ciencias                       9
14              9      Pública  Matemáticas                       3
15              9      Pública     Ciencias                     NaN
16             10      Privada  Matemáticas                      11
17             10      Privada     Ciencias                       8

    calificacion_final  satisfaccion_curso
0                  NaN                 5.0
1                 75.0                 4.0
2                 92.0                 NaN
3                 88.0                 4.0
4                 65.0                 3.0
5                 72.0                 3.0
6                 95.0                 5.0
7                 89.0                 5.0
8                 98.0                 5.0
9                 55.0                 2.0
10                 NaN                 2.0
11                 NaN                 3.0
12                70.0                 4.0
13                91.0                 4.0
14                58.0                 2.0
15                62.0                 3.0
16                90.0                 5.0
17                85.0                 NaN

_Conversión de datos faltantes implícitos a explícitos_

In [22]:
df_wide = (
    df.pivot_wider(
        index = 'id_estudiante',
        names_from = 'asignatura',
        values_from = 'calificacion_final'
    )
)
print(df_wide)

   id_estudiante  Ciencias  Matemáticas
0              1      75.0          NaN
1              2      88.0         92.0
2              3      72.0         65.0
3              4      89.0         95.0
4              5       NaN         98.0
5              6       NaN         55.0
6              7      70.0          NaN
7              8      91.0          NaN
8              9      62.0         58.0
9             10      85.0         90.0

/home/fcisnerosr/miniforge3/envs/datos_faltantes/lib/python3.9/site-packages/pandas_flavor/register.py:164: FutureWarning: This function will be deprecated in a 1.x release. Please use `pd.DataFrame.pivot` instead.
  return method(self._obj, *args, **kwargs)