_Exploracion de datos faltantes de dataframe del Titanic_

In [2]:
import janitor
import matplotlib.pyplot as plt
import missingno
import numpy as np
import pandas as pd
import pyreadr
import seaborn as sns
import session_info
import upsetplot
from fs import open_fs
from pathlib import Path
import shutil # Necesario para la operación de movimiento de archivos
import sys
import warnings
# Puedes ser más específico con el tipo de advertencia si lo conoces, por ejemplo:
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

# Para las advertencias relacionadas con pkg_resources (como las de tu captura):
warnings.filterwarnings("ignore", message="pkg_resources is deprecated as an API")
warnings.filterwarnings("ignore", message="Deprecated call to pkg_resources.declare_namespace")

from pathlib import Path


# Mostrar todo
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)  # no truncar texto en celdas
pd.set_option('display.width', None)         # autoajuste del ancho

In [3]:
# This code snippet is used to import a custom Python module named 'pandas_missing_extension.py'
# located in the parent directory of the current notebook.
# 1. Get the path of the current notebook (where live-exploration-missing-values.ipynb is)
#    This will give you something like:
#    /home/paco/datos_faltantes/curso-datos-faltantes-main/jupyter/live-exploration-missing-values.ipynb
current_notebook_path = Path.cwd() # Path.cwd() returns the current working directory of the kernel

In [4]:

# 2. Navigate up one level to find the directory containing 'pandas_missing_extension.py'
#    This will give you:
#    /home/paco/datos_faltantes/curso-datos-faltantes-main/
project_root_dir = current_notebook_path.parent

# 3. Add this directory to Python's system path if it's not already there
#    This allows Python to find modules in this directory.
if str(project_root_dir) not in sys.path:
    sys.path.append(str(project_root_dir))
    print(f"Added {project_root_dir} to sys.path")

# 4. Now, import your custom accessor module
#    Python will now find 'pandas_missing_extension.py' in the added path.
import pandas_missing_extension
import pandas_missing_extension as pmx, importlib, inspect
importlib.reload(pmx)

Added /home/paco/datos_faltantes/curso-datos-faltantes-main to sys.path

In [5]:
NB_DIR = Path().cwd()
print(f'NB_DIR: {NB_DIR}')

NB_DIR: /home/paco/datos_faltantes/curso-datos-faltantes-main/practicas_Titanic

In [6]:
SRC_DIR = (NB_DIR/'..'/'jupyter')
print(f'SRC_DIR: {SRC_DIR}')
# !pwd
# !ls

SRC_DIR: /home/paco/datos_faltantes/curso-datos-faltantes-main/practicas_Titanic/../jupyter

In [7]:
df_gender   = pd.read_csv('gender_submission.csv')
df_test     = pd.read_csv('test.csv')
df_train    = pd.read_csv('train.csv')

In [8]:
print(df_test.shape)

(418, 11)

In [9]:
df_test.missing.number_missing()

414

In [10]:
df_test.missing.missing_variable_table()

   n_missing_in_variable  n_variables  pct_variables
0                      0            8      72.727273
1                      1            1       9.090909
2                     86            1       9.090909
3                    327            1       9.090909

In [11]:
df_test.missing.missing_case_table()

   n_missing_in_case  n_cases   pct_case
0                  1      248  59.330144
1                  0       87  20.813397
2                  2       83  19.856459

In [12]:
df_train.missing.missing_variable_table()

   n_missing_in_variable  n_variables  pct_variables
0                      0            9      75.000000
1                      2            1       8.333333
2                    177            1       8.333333
3                    687            1       8.333333

In [13]:
df_test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [14]:
df_test.missing.missing_variable_span(variable= "Cabin", span_every= 150)

   span_counter  n_missing  n_complete  pct_missing  pct_complete
0             0        116          34    77.333333     22.666667
1             1        123          27    82.000000     18.000000
2             2         88          30    74.576271     25.423729

In [28]:
# Cuenta la longitud de las "rachas" consecutivas de valores faltantes y completos en la variable
df_test.missing.missing_variable_run(variable='Cabin')

     run_length     is_na
0            12   missing
1             1  complete
2             1   missing
3             1  complete
4             9   missing
5             1  complete
6             1   missing
7             1  complete
8             1   missing
9             1  complete
10            5   missing
11            1  complete
12            6   missing
13            1  complete
14            2   missing
15            1  complete
16            1   missing
17            1  complete
18            1   missing
19            1  complete
20            1   missing
21            1  complete
22            2   missing
23            1  complete
24            3   missing
25            1  complete
26            1   missing
27            1  complete
28            4   missing
29            1  complete
30            3   missing
31            2  complete
32            3   missing
33            3  complete
34            1   missing
35            1  complete
36            3   missing
37            1  complete
38           10   missing
39            1  complete
40            3   missing
41            1  complete
42            3   missing
43            1  complete
44            8   missing
45            1  complete
46            2   missing
47            1  complete
48            1   missing
49            1  complete
50            2   missing
51            2  complete
52            3   missing
53            1  complete
54            8   missing
55            1  complete
56           10   missing
57            1  complete
58            3   missing
59            1  complete
60            3   missing
61            1  complete
62            5   missing
63            1  complete
64            1   missing
65            1  complete
66            7   missing
67            1  complete
68           10   missing
69            3  complete
70            1   missing
71            2  complete
72            1   missing
73            1  complete
74           11   missing
75            1  complete
76            5   missing
77            1  complete
78            5   missing
79            1  complete
80            6   missing
81            1  complete
82            2   missing
83            1  complete
84            3   missing
85            1  complete
86           11   missing
87            1  complete
88            1   missing
89            1  complete
90            2   missing
91            1  complete
92            2   missing
93            1  complete
94            2   missing
95            1  complete
96            6   missing
97            1  complete
98           17   missing
99            1  complete
100           1   missing
101           1  complete
102          14   missing
103           2  complete
104           4   missing
105           1  complete
106           7   missing
107           1  complete
108           3   missing
109           2  complete
110           1   missing
111           1  complete
112           5   missing
113           1  complete
114           1   missing
115           1  complete
116           4   missing
117           2  complete
118           3   missing
119           1  complete
120           4   missing
121           1  complete
122           3   missing
123           1  complete
124           7   missing
125           1  complete
126           6   missing
127           1  complete
128           4   missing
129           2  complete
130           7   missing
131           1  complete
132           6   missing
133           2  complete
134           1   missing
135           1  complete
136           3   missing
137           1  complete
138          11   missing
139           2  complete
140           3   missing
141           1  complete
142           1   missing
143           1  complete
144           2   missing
145           1  complete
146           3   missing
147           2  complete
148           1   missing
149           1  complete
150           3   missing
151           1  complete
152           2   missing
153           1  complete
154           3   missing

In [29]:
# Cuenta la longitud de las "rachas" consecutivas de valores faltantes y completos en la variable
df_test.missing.missing_variable_run(variable='Sex')

   run_length     is_na
0         418  complete

In [ ]:
# Cuenta la longitud de las "rachas" consecutivas de valores faltantes y completos en la variable
df_test.missing.missing_variable_run(variable="Age")

     run_length     is_na
0            10  complete
1             1   missing
2            11  complete
3             1   missing
4             6  complete
5             1   missing
6             3  complete
7             1   missing
8             2  complete
9             1   missing
10            2  complete
11            1   missing
12            1  complete
13            1   missing
14            5  complete
15            1   missing
16            6  complete
17            1   missing
18            3  complete
19            1   missing
20            6  complete
21            1   missing
22           10  complete
23            1   missing
24            6  complete
25            3   missing
26            2  complete
27            1   missing
28            2  complete
29            1   missing
30            1  complete
31            1   missing
32            8  complete
33            1   missing
34            4  complete
35            2   missing
36            2  complete
37            1   missing
38            4  complete
39            1   missing
40            4  complete
41            1   missing
42            2  complete
43            1   missing
44            2  complete
45            1   missing
46            4  complete
47            2   missing
48           12  complete
49            1   missing
50            1  complete
51            1   missing
52            2  complete
53            1   missing
54            8  complete
55            1   missing
56            2  complete
57            1   missing
58            4  complete
59            1   missing
60            1  complete
61            1   missing
62            2  complete
63            1   missing
64            9  complete
65            1   missing
66            4  complete
67            1   missing
68            2  complete
69            1   missing
70            7  complete
71            2   missing
72            4  complete
73            1   missing
74            5  complete
75            1   missing
76            4  complete
77            1   missing
78            2  complete
79            1   missing
80            5  complete
81            1   missing
82            1  complete
83            1   missing
84            5  complete
85            1   missing
86            9  complete
87            2   missing
88            4  complete
89            1   missing
90            5  complete
91            2   missing
92            8  complete
93            4   missing
94            2  complete
95            1   missing
96            1  complete
97            2   missing
98            7  complete
99            1   missing
100           3  complete
101           1   missing
102           1  complete
103           3   missing
104           1  complete
105           1   missing
106           4  complete
107           1   missing
108           3  complete
109           1   missing
110           2  complete
111           1   missing
112           7  complete
113           1   missing
114          19  complete
115           1   missing
116           6  complete
117           1   missing
118           2  complete
119           1   missing
120           1  complete
121           1   missing
122          12  complete
123           2   missing
124           6  complete
125           2   missing
126          13  complete
127           1   missing
128           1  complete
129           1   missing
130           1  complete
131           1   missing
132          23  complete
133           1   missing
134           1  complete
135           1   missing
136           2  complete
137           1   missing
138           2  complete
139           2   missing

In [27]:
# Ordenamiento de mayor a menor de las variables segun su numero de NaN
df_test.missing.sort_variables_by_missingness(ascending=False)

,Cabin,Age,Fare,PassengerId,Pclass,Name,Sex,SibSp,Parch,Ticket,Embarked
0,NaN,34.50,7.8292,892,3,"Kelly, Mr. James",male,0,0,330911,Q
1,NaN,47.00,7.0000,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,1,0,363272,S
2,NaN,62.00,9.6875,894,2,"Myles, Mr. Thomas Francis",male,0,0,240276,Q
3,NaN,27.00,8.6625,895,3,"Wirz, Mr. Albert",male,0,0,315154,S
4,NaN,22.00,12.2875,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,1,1,3101298,S
5,NaN,14.00,9.2250,897,3,"Svensson, Mr. Johan Cervin",male,0,0,7538,S
6,NaN,30.00,7.6292,898,3,"Connolly, Miss. Kate",female,0,0,330972,Q
7,NaN,26.00,29.0000,899,2,"Caldwell, Mr. Albert Francis",male,1,1,248738,S
8,NaN,18.00,7.2292,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,0,0,2657,C
9,NaN,21.00,24.1500,901,3,"Davies, Mr. John Samuel",male,2,0,A/4 48871,S
10,NaN,NaN,7.8958,902,3,"Ilieff, Mr. Ylio",male,0,0,349220,S
11,NaN,46.00,26.0000,903,1,"Jones, Mr. Charles Cresson",male,0,0,694,S
12,B45,23.00,82.2667,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,1,0,21228,S
13,NaN,63.00,26.0000,905,2,"Howard, Mr. Benjamin",male,1,0,24065,S
14,E31,47.00,61.1750,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)",female,1,0,W.E.P. 5734,S
15,NaN,24.00,27.7208,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,1,0,SC/PARIS 2167,C
16,NaN,35.00,12.3500,908,2,"Keane, Mr. Daniel",male,0,0,233734,Q
17,NaN,21.00,7.2250,909,3,"Assaf, Mr. Gerios",male,0,0,2692,C
18,NaN,27.00,7.9250,910,3,"Ilmakangas, Miss. Ida Livija",female,1,0,STON/O2. 3101270,S
19,NaN,45.00,7.2250,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,0,0,2696,C
20,NaN,55.00,59.4000,912,1,"Rothschild, Mr. Martin",male,1,0,PC 17603,C
21,NaN,9.00,3.1708,913,3,"Olsen, Master. Artur Karl",male,0,1,C 17368,S
22,NaN,NaN,31.6833,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,0,0,PC 17598,S
23,NaN,21.00,61.3792,915,1,"Williams, Mr. Richard Norris II",male,0,1,PC 17597,C
24,B57 B59 B63 B66,48.00,262.3750,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,1,3,PC 17608,C
25,NaN,50.00,14.5000,917,3,"Robins, Mr. Alexander A",male,1,0,A/5. 3337,S
26,B36,22.00,61.9792,918,1,"Ostby, Miss. Helene Ragnhild",female,0,1,113509,C
27,NaN,22.50,7.2250,919,3,"Daher, Mr. Shedid",male,0,0,2698,C
28,A21,41.00,30.5000,920,1,"Brady, Mr. John Bertram",male,0,0,113054,S
29,NaN,NaN,21.6792,921,3,"Samaan, Mr. Elias",male,2,0,2662,C
30,NaN,50.00,26.0000,922,2,"Louch, Mr. Charles Alexander",male,1,0,SC/AH 3085,S
31,NaN,24.00,31.5000,923,2,"Jefferys, Mr. Clifford Thomas",male,2,0,C.A. 31029,S
32,NaN,33.00,20.5750,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,1,2,C.A. 2315,S
33,NaN,NaN,23.4500,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,1,2,W./C. 6607,S
34,C78,30.00,57.7500,926,1,"Mock, Mr. Philipp Edmund",male,1,0,13236,C
35,NaN,18.50,7.2292,927,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,0,0,2682,C
36,NaN,NaN,8.0500,928,3,"Roth, Miss. Sarah A",female,0,0,342712,S
37,NaN,21.00,8.6625,929,3,"Cacic, Miss. Manda",female,0,0,315087,S
38,NaN,25.00,9.5000,930,3,"Sap, Mr. Julius",male,0,0,345768,S
39,NaN,NaN,56.4958,931,3,"Hee, Mr. Ling",male,0,0,1601,S
40,NaN,39.00,13.4167,932,3,"Karun, Mr. Franz",male,0,1,349256,C
41,D34,NaN,26.5500,933,1,"Franklin, Mr. Thomas Parham",male,0,0,113778,S
42,NaN,41.00,7.8500,934,3,"Goldsmith, Mr. Nathan",male,0,0,SOTON/O.Q. 3101263,S
43,NaN,30.00,13.0000,935,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,0,0,237249,S
44,D19,45.00,52.5542,936,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,1,0,11753,S
45,NaN,25.00,7.9250,937,3,"Peltomaki, Mr. Nikolai Johannes",male,0,0,STON/O 2. 3101291,S
46,A9,45.00,29.7000,938,1,"Chevre, Mr. Paul Romaine",male,0,0,PC 17594,C
47,NaN,NaN,7.7500,939,3,"Shaughnessy, Mr. Patrick",male,0,0,370374,Q
48,D15,60.00,76.2917,940,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,0,0,11813,C
49,NaN,36.00,15.9000,941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,0,2,C.A. 37671,S
50,C31,24.00,60.0000,942,1,"Smith, Mr. Lucien Philip",male,1,0,13695,S
51,NaN,27.00,15.0333,943,2,"Pulbaum, Mr. Franz",male,0,0,SC/PARIS 2168,C
52,NaN,20.00,23.0000,944,2,"Hocking, Miss. Ellen Nellie""""",female,2,1,29105,S
53,C23 C25 C27,28.00,263.0000,945,1,"Fortune, Miss. Ethel Flora",female,3,2,19950,S
54,NaN,NaN,15.5792,946,2,"Mangiavacchi, Mr. Serafino Emilio",male,0,0,SC/A.3 2861,C
55,NaN,10.00,29.1250,947,3,"Rice, Master. Albert",male,4,1,382652,Q
56,NaN,35.00,7.8958,948,3,"Cor, Mr. Bartol",male,0,0,349230,S
57,F G63,25.00,7.6500,949,3,"Abelseth, Mr. Olaus Jorgensen",male,0,0,348122,S
58,NaN,NaN,16.1000,950,3,"Davison, Mr. Thomas Henry",male,1,0,386525,S
59,B61,36.00,262.3750,951,1,"Chaudanson, Miss. Victorine",female,0,0,PC 17608,C
60,NaN,17.00,7.8958,952,3,"Dika, Mr. Mirko",male,0,0,349232,S
61,NaN,32.00,13.5000,953,2,"McCrae, Mr. Arthur Gordon",male,0,0,237216,S
62,NaN,18.00,7.7500,954,3,"Bjorklund, Mr. Ernst Herbert",male,0,0,347090,S
63,NaN,22.00,7.7250,955,3,"Bradley, Miss. Bridget Delia",female,0,0,334914,Q
64,B57 B59 B63 B66,13.00,262.3750,956,1,"Ryerson, Master. John Borie",male,2,2,PC 17608,C
65,NaN,NaN,21.0000,957,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)",female,0,0,F.C.C. 13534,S
66,NaN,18.00,7.8792,958,3,"Burns, Miss. Mary Delia",female,0,0,330963,Q
67,NaN,47.00,42.4000,959,1,"Moore, Mr. Clarence Bloomfield",male,0,0,113796,S
68,C53,31.00,28.5375,960,1,"Tucker, Mr. Gilbert Milligan Jr",male,0,0,2543,C
69,C23 C25 C27,60.00,263.0000,961,1,"Fortune, Mrs. Mark (Mary McDougald)",female,1,4,19950,S
70,NaN,24.00,7.7500,962,3,"Mulvihill, Miss. Bertha E",female,0,0,382653,Q
71,NaN,21.00,7.8958,963,3,"Minkoff, Mr. Lazar",male,0,0,349211,S
72,NaN,29.00,7.9250,964,3,"Nieminen, Miss. Manta Josefina",female,0,0,3101297,S
73,D43,28.50,27.7208,965,1,"Ovies y Rodriguez, Mr. Servando",male,0,0,PC 17562,C
74,C130,35.00,211.5000,966,1,"Geiger, Miss. Amalie",female,0,0,113503,C
75,C132,32.50,211.5000,967,1,"Keeping, Mr. Edwin",male,0,0,113503,C
76,NaN,NaN,8.0500,968,3,"Miles, Mr. Frank",male,0,0,359306,S
77,C101,55.00,25.7000,969,1,"Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)",female,2,0,11770,S
78,NaN,30.00,13.0000,970,2,"Aldworth, Mr. Charles Augustus",male,0,0,248744,S
79,NaN,24.00,7.7500,971,3,"Doyle, Miss. Elizabeth",female,0,0,368702,Q
80,NaN,6.00,15.2458,972,3,"Boulos, Master. Akar",male,1,1,2678,C
81,C55 C57,67.00,221.7792,973,1,"Straus, Mr. Isidor",male,1,0,PC 17483,S
82,NaN,49.00,26.0000,974,1,"Case, Mr. Howard Brown",male,0,0,19924,S
83,NaN,NaN,7.8958,975,3,"Demetri, Mr. Marinko",male,0,0,349238,S
84,NaN,NaN,10.7083,976,2,"Lamb, Mr. John Joseph",male,0,0,240261,Q
85,NaN,NaN,14.4542,977,3,"Khalil, Mr. Betros",male,1,0,2660,C
86,NaN,27.00,7.8792,978,3,"Barry, Miss. Julia",female,0,0,330844,Q
87,NaN,18.00,8.0500,979,3,"Badman, Miss. Emily Louisa",female,0,0,A/4 31416,S
88,NaN,NaN,7.7500,980,3,"O'Donoghue, Ms. Bridget",female,0,0,364856,Q
89,NaN,2.00,23.0000,981,2,"Wells, Master. Ralph Lester",male,1,1,29103,S
90,NaN,22.00,13.9000,982,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)",female,1,0,347072,S
91,NaN,NaN,7.7750,983,3,"Pedersen, Mr. Olaf",male,0,0,345498,S
92,B71,27.00,52.0000,984,1,"Davidson, Mrs. Thornton (Orian Hays)",female,1,2,F.C. 12750,S
93,NaN,NaN,8.0500,985,3,"Guest, Mr. Robert",male,0,0,376563,S
94,NaN,25.00,26.0000,986,1,"Birnbaum, Mr. Jakob",male,0,0,13905,C
95,NaN,25.00,7.7958,987,3,"Tenglin, Mr. Gunnar Isidor",male,0,0,350033,S
96,C46,76.00,78.8500,988,1,"Cavendish, Mrs. Tyrell William (Julia Florence Siegel)",female,1,0,19877,S
97,NaN,29.00,7.9250,989,3,"Makinen, Mr. Kalle Edvard",male,0,0,STON/O 2. 3101268,S
98,NaN,20.00,7.8542,990,3,"Braf, Miss. Elin Ester Maria",female,0,0,347471,S
99,NaN,33.00,8.0500,991,3,"Nancarrow, Mr. William Henry",male,0,0,A./5. 3338,S
100,C116,43.00,55.4417,992,1,"Stengel, Mrs. Charles Emil Henry (Annie May Morris)",female,1,0,11778,C
101,NaN,27.00,26.0000,993,2,"Weisz, Mr. Leopold",male,1,0,228414,S
102,NaN,NaN,7.7500,994,3,"Foley, Mr. William",male,0,0,365235,Q
103,NaN,26.00,7.7750,995,3,"Johansson Palmquist, Mr. Oskar Leander",male,0,0,347070,S
104,NaN,16.00,8.5167,996,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,1,1,2625,C
105,NaN,28.00,22.5250,997,3,"Holthen, Mr. Johan Martin",male,0,0,C 4001,S
106,NaN,21.00,7.8208,998,3,"Buckley, Mr. Daniel",male,0,0,330920,Q
107,NaN,NaN,7.7500,999,3,"Ryan, Mr. Edward",male,0,0,383162,Q
108,NaN,NaN,8.7125,1000,3,"Willer, Mr. Aaron (Abi Weller"")""",male,0,0,3410,S
109,F,18.50,13.0000,1001,2,"Swane, Mr. George",male,0,0,248734,S
110,NaN,41.00,15.0458,1002,2,"Stanton, Mr. Samuel Ward",male,0,0,237734,C
111,NaN,NaN,7.7792,1003,3,"Shine, Miss. Ellen Natalia",female,0,0,330968,Q
112,A29,36.00,31.6792,1004,1,"Evans, Miss. Edith Corse",female,0,0,PC 17531,C
113,NaN,18.50,7.2833,1005,3,"Buckley, Miss. Katherine",female,0,0,329944,Q
114,C55 C57,63.00,221.7792,1006,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,1,0,PC 17483,S
115,NaN,18.00,14.4542,1007,3,"Chronopoulos, Mr. Demetrios",male,1,0,2680,C
116,NaN,NaN,6.4375,1008,3,"Thomas, Mr. John",male,0,0,2681,C
117,G6,1.00,16.7000,1009,3,"Sandstrom, Miss. Beatrice Irene",female,1,1,PP 9549,S
118,C6,36.00,75.2417,1010,1,"Beattie, Mr. Thomson",male,0,0,13050,C
119,NaN,29.00,26.0000,1011,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,1,0,SC/AH 29037,S
120,NaN,12.00,15.7500,1012,2,"Watt, Miss. Bertha J",female,0,0,C.A. 33595,S
121,NaN,NaN,7.7500,1013,3,"Kiernan, Mr. John",male,1,0,367227,Q
122,C28,35.00,57.7500,1014,1,"Schabert, Mrs. Paul (Emma Mock)",female,1,0,13236,C
123,NaN,28.00,7.2500,1015,3,"Carver, Mr. Alfred John",male,0,0,392095,S
124,NaN,NaN,7.7500,1016,3,"Kennedy, Mr. John",male,0,0,368783,Q
125,NaN,17.00,16.1000,1017,3,"Cribb, Miss. Laura Alice",female,0,1,371362,S
126,NaN,22.00,7.7958,1018,3,"Brobeck, Mr. Karl Rudolf",male,0,0,350045,S
127,NaN,NaN,23.2500,1019,3,"McCoy, Miss. Alicia",female,2,0,367226,Q
128,NaN,42.00,13.0000,1020,2,"Bowenur, Mr. Solomon",male,0,0,211535,S
129,NaN,24.00,8.0500,1021,3,"Petersen, Mr. Marius",male,0,0,342441,S
130,NaN,32.00,8.0500,1022,3,"Spinner, Mr. Henry John",male,0,0,STON/OQ. 369943,S
131,C51,53.00,28.5000,1023,1,"Gracie, Col. Archibald IV",male,0,0,113780,C
132,NaN,NaN,25.4667,1024,3,"Lefebre, Mrs. Frank (Frances)",female,0,4,4133,S
133,NaN,NaN,6.4375,1025,3,"Thomas, Mr. Charles P",male,1,0,2621,C
134,NaN,43.00,7.8958,1026,3,"Dintcheff, Mr. Valtcho",male,0,0,349226,S
135,NaN,24.00,7.8542,1027,3,"Carlsson, Mr. Carl Robert",male,0,0,350409,S
136,NaN,26.50,7.2250,1028,3,"Zakarian, Mr. Mapriededer",male,0,0,2656,C
137,NaN,26.00,13.0000,1029,2,"Schmidt, Mr. August",male,0,0,248659,S
138,NaN,23.00,8.0500,1030,3,"Drapkin, Miss. Jennie",female,0,0,SOTON/OQ 392083,S
139,NaN,40.00,46.9000,1031,3,"Goodwin, Mr. Charles Frederick",male,1,6,CA 2144,S
140,NaN,10.00,46.9000,1032,3,"Goodwin, Miss. Jessie Allis",female,5,2,CA 2144,S
141,NaN,33.00,151.5500,1033,1,"Daniels, Miss. Sarah",female,0,0,113781,S
142,B57 B59 B63 B66,61.00,262.3750,1034,1,"Ryerson, Mr. Arthur Larned",male,1,3,PC 17608,C
143,NaN,28.00,26.0000,1035,2,"Beauchamp, Mr. Henry James",male,0,0,244358,S
144,NaN,42.00,26.5500,1036,1,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey"")""",male,0,0,17475,S
145,NaN,31.00,18.0000,1037,3,"Vander Planke, Mr. Julius",male,3,0,345763,S
146,E46,NaN,51.8625,1038,1,"Hilliard, Mr. Herbert Henry",male,0,0,17463,S
147,NaN,22.00,8.0500,1039,3,"Davies, Mr. Evan",male,0,0,SC/A4 23568,S
148,NaN,NaN,26.5500,1040,1,"Crafton, Mr. John Bertram",male,0,0,113791,S
149,NaN,30.00,26.0000,1041,2,"Lahtinen, Rev. William",male,1,1,250651,S
150,C54,23.00,83.1583,1042,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,0,1,11767,C
151,NaN,NaN,7.8958,1043,3,"Matinoff, Mr. Nicola",male,0,0,349255,C
152,NaN,60.50,NaN,1044,3,"Storey, Mr. Thomas",male,0,0,3701,S
153,NaN,36.00,12.1833,1045,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,0,2,350405,S
154,NaN,13.00,31.3875,1046,3,"Asplund, Master. Filip Oscar",male,4,2,347077,S
155,NaN,24.00,7.5500,1047,3,"Duquemin, Mr. Joseph",male,0,0,S.O./P.P. 752,S
156,C97,29.00,221.7792,1048,1,"Bird, Miss. Ellen",female,0,0,PC 17483,S
157,NaN,23.00,7.8542,1049,3,"Lundin, Miss. Olga Elida",female,0,0,347469,S
158,D22,42.00,26.5500,1050,1,"Borebank, Mr. John James",male,0,0,110489,S
159,NaN,26.00,13.7750,1051,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,0,2,SOTON/O.Q. 3101315,S
160,NaN,NaN,7.7333,1052,3,"Smyth, Miss. Julia",female,0,0,335432,Q
161,NaN,7.00,15.2458,1053,3,"Touma, Master. Georges Youssef",male,1,1,2650,C
162,NaN,26.00,13.5000,1054,2,"Wright, Miss. Marion",female,0,0,220844,S
163,NaN,NaN,7.0000,1055,3,"Pearce, Mr. Ernest",male,0,0,343271,S
164,NaN,41.00,13.0000,1056,2,"Peruschitz, Rev. Joseph Maria",male,0,0,237393,S
165,NaN,26.00,22.0250,1057,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,1,1,315153,S
166,B10,48.00,50.4958,1058,1,"Brandeis, Mr. Emil",male,0,0,PC 17591,C
167,NaN,18.00,34.3750,1059,3,"Ford, Mr. Edward Watson",male,2,2,W./C. 6608,S
168,NaN,NaN,27.7208,1060,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)",female,0,0,17770,C
169,NaN,22.00,8.9625,1061,3,"Hellstrom, Miss. Hilda Maria",female,0,0,7548,S
170,NaN,NaN,7.5500,1062,3,"Lithman, Mr. Simon",male,0,0,S.O./P.P. 251,S
171,NaN,27.00,7.2250,1063,3,"Zakarian, Mr. Ortin",male,0,0,2670,C
172,NaN,23.00,13.9000,1064,3,"Dyker, Mr. Adolf Fredrik",male,1,0,347072,S
173,NaN,NaN,7.2292,1065,3,"Torfa, Mr. Assad",male,0,0,2673,C
174,NaN,40.00,31.3875,1066,3,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",male,1,5,347077,S
175,NaN,15.00,39.0000,1067,2,"Brown, Miss. Edith Eileen",female,0,2,29750,S
176,NaN,20.00,36.7500,1068,2,"Sincock, Miss. Maude",female,0,0,C.A. 33112,S
177,C116,54.00,55.4417,1069,1,"Stengel, Mr. Charles Emil Henry",male,1,0,11778,C
178,F4,36.00,39.0000,1070,2,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,0,3,230136,S
179,E45,64.00,83.1583,1071,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)",female,0,2,PC 17756,C
180,NaN,30.00,13.0000,1072,2,"McCrie, Mr. James Matthew",male,0,0,233478,S
181,E52,37.00,83.1583,1073,1,"Compton, Mr. Alexander Taylor Jr",male,1,1,PC 17756,C
182,D30,18.00,53.1000,1074,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)",female,1,0,113773,S
183,NaN,NaN,7.7500,1075,3,"Lane, Mr. Patrick",male,0,0,7935,Q
184,B58 B60,27.00,247.5208,1076,1,"Douglas, Mrs. Frederick Charles (Mary Helene Baxter)",female,1,1,PC 17558,C
185,NaN,40.00,16.0000,1077,2,"Maybery, Mr. Frank Hubert",male,0,0,239059,S
186,NaN,21.00,21.0000,1078,2,"Phillips, Miss. Alice Frances Louisa",female,0,1,S.O./P.P. 2,S
187,NaN,17.00,8.0500,1079,3,"Davies, Mr. Joseph",male,2,0,A/4 48873,S
188,NaN,NaN,69.5500,1080,3,"Sage, Miss. Ada",female,8,2,CA. 2343,S
189,NaN,40.00,13.0000,1081,2,"Veal, Mr. James",male,0,0,28221,S
190,NaN,34.00,26.0000,1082,2,"Angle, Mr. William A",male,1,0,226875,S
191,NaN,NaN,26.0000,1083,1,"Salomon, Mr. Abraham L",male,0,0,111163,S
192,NaN,11.50,14.5000,1084,3,"van Billiard, Master. Walter John",male,1,1,A/5. 851,S
193,NaN,61.00,12.3500,1085,2,"Lingane, Mr. John",male,0,0,235509,Q
194,NaN,8.00,32.5000,1086,2,"Drew, Master. Marshall Brines",male,0,2,28220,S
195,NaN,33.00,7.8542,1087,3,"Karlsson, Mr. Julius Konrad Eugen",male,0,0,347465,S
196,E34,6.00,134.5000,1088,1,"Spedden, Master. Robert Douglas",male,0,2,16966,C
197,NaN,18.00,7.7750,1089,3,"Nilsson, Miss. Berta Olivia",female,0,0,347066,S
198,NaN,23.00,10.5000,1090,2,"Baimbrigge, Mr. Charles Robert",male,0,0,C.A. 31030,S
199,NaN,NaN,8.1125,1091,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,0,0,65305,S
200,NaN,NaN,15.5000,1092,3,"Murphy, Miss. Nora",female,0,0,36568,Q
201,NaN,0.33,14.4000,1093,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0,2,347080,S
202,C62 C64,47.00,227.5250,1094,1,"Astor, Col. John Jacob",male,1,0,PC 17757,C
203,NaN,8.00,26.0000,1095,2,"Quick, Miss. Winifred Vera",female,1,1,26360,S
204,NaN,25.00,10.5000,1096,2,"Andrew, Mr. Frank Thomas",male,0,0,C.A. 34050,S
205,NaN,NaN,25.7417,1097,1,"Omont, Mr. Alfred Fernand",male,0,0,F.C. 12998,C
206,NaN,35.00,7.7500,1098,3,"McGowan, Miss. Katherine",female,0,0,9232,Q
207,NaN,24.00,10.5000,1099,2,"Collett, Mr. Sidney C Stuart",male,0,0,28034,S
208,A11,33.00,27.7208,1100,1,"Rosenbaum, Miss. Edith Louise",female,0,0,PC 17613,C
209,NaN,25.00,7.8958,1101,3,"Delalic, Mr. Redjo",male,0,0,349250,S
210,NaN,32.00,22.5250,1102,3,"Andersen, Mr. Albert Karvin",male,0,0,C 4001,S
211,NaN,NaN,7.0500,1103,3,"Finoli, Mr. Luigi",male,0,0,SOTON/O.Q. 3101308,S
212,NaN,17.00,73.5000,1104,2,"Deacon, Mr. Percy William",male,0,0,S.O.C. 14879,S
213,NaN,60.00,26.0000,1105,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,1,0,24065,S
214,NaN,38.00,7.7750,1106,3,"Andersson, Miss. Ida Augusta Margareta",female,4,2,347091,S
215,B11,42.00,42.5000,1107,1,"Head, Mr. Christopher",male,0,0,113038,S
216,NaN,NaN,7.8792,1108,3,"Mahon, Miss. Bridget Delia",female,0,0,330924,Q
217,NaN,57.00,164.8667,1109,1,"Wick, Mr. George Dennick",male,1,1,36928,S
218,C80,50.00,211.5000,1110,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,1,1,113503,C
219,NaN,NaN,8.0500,1111,3,"Thomson, Mr. Alexander Morrison",male,0,0,32302,S
220,NaN,30.00,13.8583,1112,2,"Duran y More, Miss. Florentina",female,1,0,SC/PARIS 2148,C
221,NaN,21.00,8.0500,1113,3,"Reynolds, Mr. Harold J",male,0,0,342684,S
222,F33,22.00,10.5000,1114,2,"Cook, Mrs. (Selena Rogers)",female,0,0,W./C. 14266,S
223,NaN,21.00,7.7958,1115,3,"Karlsson, Mr. Einar Gervasius",male,0,0,350053,S
224,NaN,53.00,27.4458,1116,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,0,0,PC 17606,C
225,NaN,NaN,15.2458,1117,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,0,2,2661,C
226,NaN,23.00,7.7958,1118,3,"Asplund, Mr. Johan Charles",male,0,0,350054,S
227,NaN,NaN,7.7500,1119,3,"McNeill, Miss. Bridget",female,0,0,370368,Q
228,NaN,40.50,15.1000,1120,3,"Everett, Mr. Thomas James",male,0,0,C.A. 6212,S
229,NaN,36.00,13.0000,1121,2,"Hocking, Mr. Samuel James Metcalfe",male,0,0,242963,S
230,NaN,14.00,65.0000,1122,2,"Sweet, Mr. George Frederick",male,0,0,220845,S
231,NaN,21.00,26.5500,1123,1,"Willard, Miss. Constance",female,0,0,113795,S
232,NaN,21.00,6.4958,1124,3,"Wiklund, Mr. Karl Johan",male,1,0,3101266,S
233,NaN,NaN,7.8792,1125,3,"Linehan, Mr. Michael",male,0,0,330971,Q
234,C85,39.00,71.2833,1126,1,"Cumings, Mr. John Bradley",male,1,0,PC 17599,C
235,NaN,20.00,7.8542,1127,3,"Vendel, Mr. Olof Edvin",male,0,0,350416,S
236,D37,64.00,75.2500,1128,1,"Warren, Mr. Frank Manley",male,1,0,110813,C
237,NaN,20.00,7.2250,1129,3,"Baccos, Mr. Raffull",male,0,0,2679,C
238,NaN,18.00,13.0000,1130,2,"Hiltunen, Miss. Marta",female,1,1,250650,S
239,C86,48.00,106.4250,1131,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,1,0,PC 17761,C
240,NaN,55.00,27.7208,1132,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,0,0,112377,C
241,NaN,45.00,30.0000,1133,2,"Christy, Mrs. (Alice Frances)",female,0,2,237789,S
242,E34,45.00,134.5000,1134,1,"Spedden, Mr. Frederic Oakley",male,1,1,16966,C
243,NaN,NaN,7.8875,1135,3,"Hyman, Mr. Abraham",male,0,0,3470,S
244,NaN,NaN,23.4500,1136,3,"Johnston, Master. William Arthur Willie""""",male,1,2,W./C. 6607,S
245,D21,41.00,51.8625,1137,1,"Kenyon, Mr. Frederick R",male,1,0,17464,S
246,NaN,22.00,21.0000,1138,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,0,0,F.C.C. 13534,S
247,NaN,42.00,32.5000,1139,2,"Drew, Mr. James Vivian",male,1,1,28220,S
248,NaN,29.00,26.0000,1140,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,1,0,26707,S
249,NaN,NaN,14.4542,1141,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",female,1,0,2660,C
250,NaN,0.92,27.7500,1142,2,"West, Miss. Barbara J",female,1,2,C.A. 34651,S
251,NaN,20.00,7.9250,1143,3,"Abrahamsson, Mr. Abraham August Johannes",male,0,0,SOTON/O2 3101284,S
252,C89,27.00,136.7792,1144,1,"Clark, Mr. Walter Miller",male,1,0,13508,C
253,NaN,24.00,9.3250,1145,3,"Salander, Mr. Karl Johan",male,0,0,7266,S
254,NaN,32.50,9.5000,1146,3,"Wenzel, Mr. Linhart",male,0,0,345775,S